@import "../../styles.css";

.elapsed-time {
  font-size: var(--font-size-md) !important;
  color: var(--color-text);
  padding: var(--space-1) 0 var(--space-3);
  text-align: right;
  align-self: flex-end;
  flex-shrink: 0;
}
